@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    background-color: rgba(43, 1, 1, 0.5);
    color: antiquewhite
}

body {
    background-image: url("https://cdn.superstock.com/4028/Download/4028-1096.jpg");
}

.container {
    width: 80%;

}

.card-img-top {
    min-height: 700px;
}

.card {
    text-align: center;
    justify-content: center;
    justify-items: center;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-img-top {
    padding: 10px;
    padding-bottom: 5px;


}

.card-deck>.card {
    width: 29%;
    flex-wrap: wrap;
    flex: initial;
}

.card-title {
    color: whitesmoke
}


.container2 {
    width: 600px;

}

.main_content {
    width: 100%;
    text-align: center;
    background-color: #6e04042c;
    font-size: 35px;

}

.main_content .header {

    padding: 20px;
    background: rgba(19, 3, 11, 0.192);
    color: antiquewhite;
    border-bottom: 1px solid #e0e4e8;

}

.main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;


}




/* *****************
 footer css 
 *****************  */

.card1 {
    background: black;
}

.logo-footer ul {
    display: flex;
    justify-content: center;

}

.logo-footer ul li {
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    padding-right: 4vw;
    padding-left: 4vw;
}

.logo-footer ul li {
    text-decoration: none;
}

.right-border {
    border-right: 1px solid whitesmoke;
}

.card-title ul li {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding-right: 30px;
}


.copyright {
    display: flex;
    justify-content: center;
    list-style: none;
}